main {
  section:first-child {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-bottom: 2rem;
    align-items: center;

    h1 {
      font-size: 2.8rem;
      margin-bottom: 20px;
      font-family: cursive;
      color: rgba(184, 10, 10, 0.674);
    }
    h2 {
      color: rgba(29, 12, 12, 0.429);
      font-weight: 500;
      text-decoration: underline;
    }
    .search-section {
      margin-top: 20px;
    }

    .search-input {
      padding: 16px 9px;
      // border: 1px solid #ccc;
      border: none;
      box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
      border-radius: 5px;
      width: 416px;
      max-width: 400px;
      font-size: 16px;

      &:focus {
        outline: none;
        // border: 1px solid rgba(192, 186, 186, 0.388);
        box-shadow: none;
      }
    }
  }

  h1 {
    text-align: center;
  }
}
