.history-container {
  .buttons {
    display: flex;
    flex-wrap: wrap;
    max-width: 70rem;
    p {
      margin: 0.5rem;
      padding: 0.5rem;
      background-color: #fa700efb;
      color: #fff;
      border: none;
      border-radius: 4px;
      cursor: pointer;
      transition: background-color 0.3s ease;

      &:hover {
        background-color: #fa700ea7;
      }
    }
  }
}
